<center>
<h1>Messaging app</h1>
<form action="/messages" method="post">
<div>
<textarea cols="50" row="5" name="content" placeholder="insert message here">
</textarea>
<br>
<input type="submit" value="Submit">
</div>
</form>

<% @messages.reverse.each do |message| %>
<a href="/messages/<%= message.id%>"><%= message.preview %></a> ->>>>>>>>> <%= message.created_at%><br> 
<% end %> 
</center>
