<h1>Messaging app</h1>
<form action="/messages" method="post">
<div>
<textarea cols="50" row="5" name="input_message" placeholder="insert message here">
</textarea>
<input type="submit" value="Submit">
</div>
</form>

<%= @message1.content unless @message1.nil? %>
